registry="https://registry.npmjs.org"
# Avoid dependency conflicts between Modern.js tools
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=!@modern-js/app-tools
public-hoist-pattern[]=!@modern-js/module-tools