.ldt-container {
  position: relative;
  flex: auto;
  border-left: 1px solid #ccc;
  height: 100%;
  overflow: auto;
}

.base-component {
  background-color: lightblue;
  height: 100%;
  width: 100%;
}

.overlay-component {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
